version: '3'

services:
  redis:
    build: ./redis
    container_name: redis

  backend:
    build: ./backend
    container_name: backend
    depends_on:
      - redis
    ports:
      - "5000:5000"

  frontend:
    build: ./frontend
    container_name: frontend
    depends_on:
      - backend
    ports:
      - "3000:3000"
